<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Welcome page</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>PlayServlet</servlet-name>
		<servlet-class>org.game.tictactoe.PlayServlet</servlet-class>
		<init-param>
			<param-name>readonly</param-name>
			<param-value>false</param-value>
		</init-param>
	</servlet>



	<!-- <servlet> -->
	<!-- <servlet-name>TTTGameServlet</servlet-name> -->
	<!-- <servlet-class>org.game.tictactoe.api.TicTacToeGameServlet</servlet-class> -->
	<!-- </servlet> -->
	<!-- <servlet-mapping> -->
	<!-- <servlet-name>TTTGameServlet</servlet-name> -->
	<!-- <url-pattern>/game/move</url-pattern> -->
	<!-- </servlet-mapping> -->

	<!-- <security-constraint> -->
	<!-- <web-resource-collection> -->
	<!-- <web-resource-name>GamePortal</web-resource-name> -->
	<!-- <url-pattern>/*</url-pattern> -->
	<!-- <http-method>PUT</http-method> -->
	<!-- </web-resource-collection> -->
	<!-- <auth-constraint> -->
	<!-- <role-name>adminput</role-name> -->
	<!-- </auth-constraint> -->
	<!-- </security-constraint> -->
	<!-- <login-config> -->
	<!-- <auth-method>BASIC</auth-method> -->
	<!-- <realm-name>GamePortal</realm-name> -->
	<!-- </login-config> -->
	<!-- <security-role> -->
	<!-- <description>Role for restricted resources</description> -->
	<!-- <role-name>admin</role-name> -->
	<!-- </security-role> -->

</web-app>